<header class="header">

        <div class=" row text-center">
                <div class="col-md-12">
                <div class="header-text">
                    <h3>SafePaddy Admin</h3>
                </div><!-- Header Text Ends Here -->

                <div class="form-container">
                    <form class="form-group">
                        <div class="text-field">
                            <input class="my-input form-control" type="text" placeholder=" Username " length="100" name="admin-user" />
                            <!-- <span class="fa fa-user fa-lg"></span> -->
                        </div>
                        <div class="password-field">
                            <input class="my-input form-control" type="password" value="" placeholder=" Password " name="admin-password">
                            <!-- <span class="fa fa-key"></span>  -->
                        </div>
                        <div>
                            <br>
                            <a href='#' class="my-btn form-control" type="button" text-center> Log In</a>
                        </div>

                    </form>
                    <span id="error"></span>
                    <small (click)="adminResetPassword()">Forget Password?</small>
                </div><!-- Form Container  Class Ends Here -->


                    <div class="myFooter">
                        <small> All rights reserved by safepaddy inc. 2018</small>
                    </div>
            </div><!--Column Class Ends Here -->
        </div><!--Wrapper  and Row Class Ends Here -->

</header>

